deepseek_json_20251202_ef2b8a.json
{
  "name": "HU-006 - Rechazo con motivo",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook - Rechazo solicitud",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "rechazo-solicitud",
        "httpMethod": "POST"
      }
    },
    {
      "id": "2",
      "name": "IF - Validar motivo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"motivoRechazo\"]}}",
              "operation": "notEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Google Sheets - Actualizar fila",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [750, 200],
      "parameters": {
        "operation": "update",
        "sheetId": "TU_SHEET_ID",
        "range": "Solicitudes!A:D",
        "key": "SolicitudID",
        "keyValue": "={{$json[\"SolicitudID\"]}}",
        "updateFields": {
          "motivoRechazo": "={{$json[\"motivoRechazo\"]}}",
          "estadoSolicitud": "Rechazada",
          "fechaRechazo": "={{$now}}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": "TU_CREDENCIAL_OAUTH"
      }
    },
    {
      "id": "4",
      "name": "Email - Notificar estudiante",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [750, 400],
      "parameters": {
        "toEmail": "={{$json[\"correoEstudiante\"]}}",
        "subject": "Resultado de tu solicitud",
        "text": "Tu solicitud ha sido rechazada. Motivo: {{$json[\"motivoRechazo\"]}}"
      },
      "credentials": {
        "smtp": "TU_CREDENCIAL_SMTP"
      }
    }
  ],
  "connections": {
    "Webhook - Rechazo solicitud": {
      "main": [
        [
          {
            "node": "IF - Validar motivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validar motivo": {
      "main": [
        [
          {
            "node": "Google Sheets - Actualizar fila",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email - Notificar estudiante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
