deepseek_json_20251202_ef2b8a.json
{
  "name": "HU-006 - Solicitud (Aprobada/Rechazada)",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook - Solicitud",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "solicitud",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": {
          "responseBody": "Solicitud recibida"
        }
      }
    },
    {
      "id": "2",
      "name": "Set - Normalizar datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "SolicitudID",
              "value": "={{$json[\"body\"][\"SolicitudID\"]}}"
            },
            {
              "name": "motivoRechazo",
              "value": "={{$json[\"body\"][\"motivoRechazo\"]}}"
            },
            {
              "name": "estadoSolicitud",
              "value": "={{$json[\"body\"][\"estadoSolicitud\"]}}"
            },
            {
              "name": "fechaRechazo",
              "value": "={{$now}}"
            },
            {
              "name": "correoEstudiante",
              "value": "={{$json[\"body\"][\"correoEstudiante\"]}}"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Google Sheets - Actualizar fila",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [750, 200],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "sheetId": "TU_SPREADSHEET_ID",
        "range": "Solicitudes",
        "key": "SolicitudID",
        "keyValue": "={{$json[\"SolicitudID\"]}}",
        "updateFields": {
          "motivoRechazo": "={{$json[\"motivoRechazo\"]}}",
          "estadoSolicitud": "={{$json[\"estadoSolicitud\"]}}",
          "fechaRechazo": "={{$json[\"fechaRechazo\"]}}"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TU_CREDENCIAL_OAUTH",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "id": "4",
      "name": "Email - Notificar estudiante",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [750, 400],
      "parameters": {
        "toEmail": "={{$json[\"correoEstudiante\"]}}",
        "subject": "Resultado de tu solicitud",
        "text": "=Estimado/a estudiante,\\n\\nJunto con saludar, te informamos que tu solicitud ha sido revisada por el equipo correspondiente. El resultado es el siguiente:\\n\\nEstado: {{$json[\"estadoSolicitud\"]}}\\nMotivo: {{$json[\"motivoRechazo\"]}}\\n\\nTe invitamos a revisar los requisitos y condiciones establecidos, y a realizar una nueva solicitud si corresponde.\\n\\nAgradecemos tu interés y comprensión.\\n\\nAtentamente,\\nUniversidad Andrés Bello"
      },
      "credentials": {
        "smtp": {
          "id": "TU_CREDENCIAL_SMTP",
          "name": "SMTP Gmail"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Solicitud": {
      "main": [
        [
          {
            "node": "Set - Normalizar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Normalizar datos": {
      "main": [
        [
          {
            "node": "Google Sheets - Actualizar fila",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email - Notificar estudiante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "version": 1
}
